# Postgres
POSTGRES_USER=saldocasa
POSTGRES_PASSWORD=changeme
POSTGRES_DB=saldocasa

# API
DATABASE_URL=postgresql://saldocasa:changeme@postgres:5432/saldocasa?schema=public
JWT_SECRET=changeme-use-a-long-random-string
API_PORT=3011
NODE_ENV=production

# Web
NEXT_PUBLIC_API_URL=https://saldocasa.morelidev.com/api
WEB_PORT=3010
